extends /headered

block title
	title #{data.test.name} - #{$msgs$.sitename}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	button(onclick="sendRequest('post','/startTesting','testId="+data.test._id+"')") #{$msgs$.startTesting}
	button
		a.nontexthref(href="/testings?testId="+data.test._id) #{$msgs$.getTestings}