extends /headered

block title
	title #{$msgs$.testings} - #{$msgs$.sitename}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	- for(var v=0;v<data.testingsInfo.length;v++)
		button
			a.nontexthref(href="/testing?id="+data.testingsInfo[v].id+"&questionNumber=0") #{$msgs$.openTesting} '#{data.testingsInfo[v].id}'