extends /headered

block title
	title #{$msgs$.sitename} - #{$msgs$.studentWorkspace} - #{$msgs$.sitename}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	